name: Deploy

on:
  push:
    branches: ["main","251119"]  
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Environment Variables
        run: |
          echo "VITE_NAVER_MAP_CLIENT_ID=$VITE_NAVER_MAP_CLIENT_ID
          VITE_KAKAO_SDK_JS_KEY=$VITE_KAKAO_SDK_JS_KEY
          VITE_SERVER_URL=$VITE_SERVER_URL
          VITE_STATIC_ONLY=$VITE_STATIC_ONLY" >> .env
        env:
          VITE_NAVER_MAP_CLIENT_ID: ${{ secrets.VITE_NAVER_MAP_CLIENT_ID }}
          VITE_KAKAO_SDK_JS_KEY: ${{ secrets.VITE_KAKAO_SDK_JS_KEY }}
          VITE_SERVER_URL: ${{ vars.VITE_SERVER_URL }}
          VITE_STATIC_ONLY: ${{ vars.VITE_STATIC_ONLY }}

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to gh-pages
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git checkout --orphan gh-pages-temp
          git --work-tree build add --all
          git --work-tree build commit -m "Deploy from ${{ github.ref }} (${{ github.sha }})"
          git push origin HEAD:gh-pages --force
          git checkout -
